.explain {
    text-decoration: underline dotted;
    cursor: help;
}

.type {
    border-radius: 10px;
}

.entete {
    max-width: 30%;
}

.plante {
	background-color: #3DA224 !important;
}

.poison {
	background-color: #923FCC;
}

.spectre {
    background-color: #703F70;
}

.sol {
    background-color: #92501B;
}

.roche {
    background-color: #B0AA82;
}

.normal {
    background-color: #A0A2A0;
}

.électrik {
    background-color : #FAC100;
}

.feu {
    background-color : #E72324;
}

.vol {
    background-color : #82BAEF;
}

.eau {
    background-color : #2481EF;
}

.psy {
    background-color : #EF3F7A;
}

.combat {
    background-color : #FF8100;
}

.fée {
    background-color : #EF70EF;
}

.insecte{
    background-color : #92A212;
}

.glace {
    background-color : #3DD9FF;
}

.dragon {
    background-color : #4F60E2;
}

.acier {
    background-color : #60A2B9;
}

.ténèbres {
    background-color : #4F3F3D;
}