HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/monitoring-tutorial/admin-tutorial/springboot-admin-server/src/main/resources/application.dic
/testing-tutorial/gatling-tutorial/logs/
/docs/.jekyll-cache/
/docs/_site/
/vaadin-tutorial/src/main/frontend/generated/
/vaadin-tutorial/pokedex/package.json
/vaadin-tutorial/pokedex/package-lock.json
/vaadin-tutorial/pokedex/tsconfig.json
/vaadin-tutorial/pokedex/types.d.ts
/vaadin-tutorial/pokedex/vite.config.ts
/vaadin-tutorial/pokedex/vite.generated.ts
/vaadin-tutorial/pokedex/src/main/frontend/generated/
/vaadin-tutorial/pokedex/src/main/frontend/index.html
